<h1> Hello, <%= current_user.first_name %> ! </h1>

<h2> Did you know that... </h2>

	<p> Seventeen of the top 100 Kindle books in 2012 were self-published. This number gets higher each year. </p>

	<p>	It is predicted that within three years, 75% of books will be sold online and only 25% in brick and mortar bookstores. </p>

	<p> The first printed books didn’t have the name of the author or even the title printed on the covers. The covers were artworks itself, covered in drawings, leather or even gold. </p>

	<p> The longest sentence ever printed is found in Victor Hugo’s Les Miserables. It is 823 words long. </p>

	<p> Word “Cyberspace” originally came from Neuromancer, written by William Gibson in 1984. <p>

	<p> Speaking of unbelievable word origins, the term Yahoo actually comes from Gulliver’s Travels, published in 1726. </p>

	<p> Books used to be chained to shelves in libraries, in order to prevent stealing. </p>

	<p> The first book that was written using the typewriter was The Adventures of Tom Sawyer. </p>

	<p> The real Alice in Wonderland, was named Alice Lindell. Her family was friends with the author and he penned the story for her when she was 10. </p>

	<p> People in Iceland read more books per capita than in any other country.</p>

	<p> Former American president, Theodore Roosevelt, read an average of one book per day. </p>

	<p> The oldest Cookbook in the world, clay Babylonian tablet, is inscribed in Akkadian. It dates back to 1750 BC (the time of Hammurabi) and contains the oldest known cooking recipes. </p>

	<p> Top 3 most read books in the world are: The Holy Bible, Quotations from Chairman Mao Tse-Tung and Harry Potter. </p>

	<p> The world’s most expensive book ever purchased was bought by Bill Gates for $30.8 million. It was Codex Leicester by Leonardo Da Vinci. </p>

	<p> The worldwide phenomenon and bestseller E.L. James’ 50 Shades of Grey was first published on a fan website. </p>