<a href="/">Home</a>
<a href="/dashboard/index">Dashboard</a>
<a href="/users">Readers</a>
<a href="/authors">Authors</a>
<a href="/books">My Books</a>
<a href="/lists">My Lists</a>
<a href="/logout">Logout</a>