<li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="/dashboard/index">Dashboard</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="/users">Readers</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="/authors">Authors</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="/books">My Books</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="/lists">My Lists</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="/logout">Logout</a></li>