<a href="/">Home</a>
<a href="/dashboard/index">Dashboard</a>
<a href="/lists">Lists</a>
<a href="/users">Readers</a>
<a href="/books">Library</a>
<a href="/authors">Authors</a>
<a href="/logout">Logout</a>